$gray: #898B8C
$blue: #3E99ED
$black: #252626

*
  box-sizing: border-box
  font-style: normal
  color: #191919
  &:active, &:hover, &:focus
    outline: 0 !important
    outline-offset: 0 !important

body
  font-family: 'Source Sans Pro', sans-serif
  margin: 0
  padding: 100px 0

h1, h2, h3, h4, h5, h6, p, span, b, strong
  padding: 0
  margin: 0

.book
  width: 100%
  display: flex
  flex-direction: column
  &-big
    height: 752px
  &-small
    height: 376px
  &-header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px 16px 8px 8px
  &-author
    display: flex
    align-items: center
    &__name
      font-weight: 600
      font-size: 14px
    &__img
      width: 28px
      height: 28px
      border-radius: 50%
      margin-right: 8px
      border: 1px solid $gray
  &-marker
    padding: 5px 10px
    border-radius: 6px 6px 0 6px
    &-blue
      background: $blue
      color: #fff
      font-style: normal
      font-weight: 600
      font-size: 12px
      text-align: center
      letter-spacing: 0.02em
      text-transform: uppercase
  &-main
    position: relative
    border-radius: 14px 0 14px 14px
    overflow: hidden
    background-color: #C4C4C4
    &__bg
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      background-position: center
      background-size: cover
      background-repeat: no-repeat
    &-big
      height: 600px
    &-small
      height: 224px
    &-title
      width: calc(100% - 130px)
      left: 24px
      top: 24px
      position: absolute
      font-weight: 600
      font-size: 32px
      line-height: 32px
      color: #FFFFFF
  &-data
    position: absolute
    background: rgba(62, 63, 64, 0.7)
    border-radius: 8px 0 8px 8px
    padding: 10px 0
    width: 73px
    right: 16px
    top: 16px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    &__day
      color: #fff
      font-weight: 600
      font-size: 32px
      line-height: 1
      text-align: center
    &__mounth
      color: #fff
      font-weight: 600
      font-size: 14px
      line-height: 1
      margin-bottom: 5px
    &__time
      color: #fff
      font-weight: 600
      font-size: 14px
      line-height: 1
  &-info
    padding: 10px 8px
    display: flex
    align-items: center
    justify-content: space-between
    &__status
      font-weight: 600
      font-size: 14px
      color: #48B0A2
    &__city
      font-weight: 600
      font-size: 14px
      color: $blue
    &__category
      font-size: 14px
      text-align: right
      color: $gray
  &__title
    padding: 0 8px
    color: $black
    font-weight: 600
    font-size: 20px
    line-height: 24px

.my-row
  margin-right: -15px
  margin-left: -15px

.btn-more
  width: 100%
  background: $blue
  color: #fff
  border-radius: 24px
  padding: 10px 0
  text-align: center
  font-weight: 600
  font-size: 18px
  transition: .3s
  &:hover
    background: darken($blue,20)

