@media (max-width: 767px)
  .book
    height: auto
    margin-bottom: 30px
    &-marker
      font-size: 10px
    &-header
      padding-right: 12px
    &-main
      height: auto
      padding-bottom: 63%
      &-title
        width: calc(100% - 110px)
        font-size: 26px
        line-height: 28px
        left: 16px
        top: 16px
    &__title
      font-size: 18px
    &-data
      width: 68px
      right: 12px
      top: 12px
      &__day
        font-size: 26px
      &__mounth
        font-size: 12px
      &__time
        font-size: 12px
